@media screen and (min-width: 769px) and (max-width: 992px) {
/* Banner Section */
#banner {
  display: flex;
  margin: 47px 10px 0px 10px;
  justify-content: space-between;
  align-items: center;
}

.btn {
  background-color: #FD6E0A;
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
#banner .banner-image img {
  width: 400px;
}
#banner .banner-content h1 {
  font-size: 60px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 20px;
}

/* about-section */
#about-section {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}
.section-heading {
  background-color: #FFF8F3;
  padding: 131px 20px;
  margin-top: 130px;
  margin-bottom: 130px;
  border-radius: 10px;
}
.about-box h4 {
  font-size: 18px;
  font-weight: bold;
  color: #757575;
}

    /* Resume Section */
#resume {
  width: 100%;
  max-width: 992px;
  margin: 0 auto;
    margin-bottom: 0px;
  margin-bottom: 130px;
}
.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #474747;
}

/* Skills Section */
#skills, #resume {
    width: 95%;
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 0px;
    margin-bottom: 130px;
}
.skill-card {
  padding: 10px;
  max-width: 267px;
  box-shadow: 0 6px 50px 0 #0000001e;
}
/* Footer Section */
.footer {
  display: flex;
  background-color: #FFF8F3;
  padding: 130px 20px;
  justify-content: space-between;
}

}